[submodule "pybinutil"]
	path = pybinutil
	url = http://github.com/tanupoo/pybinutil.git
[submodule "pyssched"]
	path = pyssched
	url = http://github.com/tanupoo/pyssched.git
[submodule "pypcap-dissector"]
	path = pypcap-dissector
	url = git://github.com/tanupoo/pypcap-dissector.git
[submodule "pypacket_dissector"]
	path = pypacket_dissector
	url = https://github.com/tanupoo/pypacket_dissector
[submodule "micro_enum"]
	path = micro_enum
	url = http://github.com/tanupoo/micro_enum.git
